.App {
  text-align: center;
}

.App-title {
  font-size: 25px;
}

.cell-btn {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  font-size: 25px;
  background-color: #fff;
}

.cell-btn:hover {
  background-color: purple;
}

.cell-x {
  background-color: green;
  width: 100px;
  height: 100px;
  font-size: 25px;
  color: red;
}

.cell-o {
  background-color: orange;
  width: 100px;
  height: 100px;
  font-size: 25px;
  color: blue;
}
